<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>     
      <section name="StartupConnectionApi" type="ClientForApi.ConnectionApiConfigSection, ClientForApi"/>
    </configSections>
    <StartupConnectionApi>
      <ConnectionStrings>
        <add type="Host" path="http://localhost:5134/" />      
      </ConnectionStrings>
    </StartupConnectionApi>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>
<!-- 
        name = Имя, которое используется для ссылки на данный раздел в файле настройки.
        type = Обработчик раздела настроек. 
        Включает две секции: полный путь - пространство имен обработчика наших данных + 
        имя самого обработчика, наименование сборки, где данный класс располагается.
        -->
